
#clock{
    width: 60vw;
    height: 60vw;
    margin: auto;
    position: relative;
    background-color: rgb(200, 255, 0);
    border-radius: 30vw;
}
#clock>img{
    width: 100%;
}
#hrs,#min,#sec{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#hrs{
    width: 15vw;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    top: 29.6vw;
    left: 29.9vw;
    /* transform: rotate(-90deg); */
    transform-origin: 0% 50% 0vw;
}
#min{
    width: 20vw;
    height: 4px;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    top: 29.6vw;
    left: 29.9vw;
    /* transform: rotate(-90deg); */
    transform-origin: 0% 50% 0vw;
}
#sec{
    width: 23vw;
    height: 2px;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    top: 29.6vw;
    left: 29.9vw;
    /* transform: rotate(-89.7deg); */
    transform-origin: 0% 50% 0vw;
}
